# Файл с токеном бота (секретные данные)
.env

# Виртуальное окружение Python
venv/

# Кеш Python
__pycache__/

# Настройки VSCode
.vscode/

# Логи и временные файлы
*.log
*.tmp

# Файлы базы данных (если SQLite используешь)
database/db.sqlite3

# Файлы сборки и временные папки
*.pyc
*.pyo
*.pyd
*.swp
